<!DOCTYPE html>
<html lang="en">

<head>
    <title>Citations</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/d3Style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <style>
        body {
            background-color: slategray;
        }
    </style>
</head>

<body>

    <div class="container">
        <h1>Citations by Year</h1>
        <p></p>
        <p></p>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">2016</a></li>
                <li><a href="#">2017</a></li>
                <li><a href="#">2018</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <!-- <h3>Basic Navbar Example</h3> -->
        <p></p>
    </div>

    <!--Source for line chart-->
    <script src="../static/js/line.js"></script>
</body>

</html>
